/*
!/Lib

!/Cedric_Diagrams2
/Cedric_Diagrams2/*
!/Cedric_Diagrams2/*.h
!/Cedric_Diagrams2/*.cpp
!/Cedric_Diagrams2/*.sh
!/Cedric_Diagrams2/CMakeLists.txt

!/Cedric_Diagrams2/*/
/Cedric_Diagrams2/*/*
!/Cedric_Diagrams2/*/*.h
!/Cedric_Diagrams2/*/*.cpp
!/Cedric_Diagrams2/*/*.sh
!/Cedric_Diagrams2/*/CMakeLists.txt

!/Cedric_Plotential
/Cedric_Plotential/*
!/Cedric_Plotential/*.cpp
!/Cedric_Plotential/*.h
!/Cedric_Plotential/*.sh
!/Cedric_Plotential/CMakeLists.txt

!/Cedric_Frenkel
/Cedric_Frenkel/*
!/Cedric_Frenkel/*.cpp
!/Cedric_Frenkel/*.h
!/Cedric_Frenkel/*.sh
