*.out

Coex_Frenkel/*
!Coex_Frenkel/*.cpp
!Coex_Frenkel/*.h
!Coex_Frenkel/*.sh

Plotential/*
!Plotential/*.cpp
!Plotential/*.sh
!Plotential/CMakeLists.txt
!Plotential/TEST
!Plotential/potentials_next_to_diagrams

Illustration/*
!Illustration/*.gp
!Illustration/*.sh
!Illustration/*.png



